/* @media screen and (max-width: 720px) {


/*---------------Navigation For Phone-------------*/
/* #navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.navbar ul li {
  display: block;
}
.navbar {
  position: fixed;
  background: #f44336;
  height: 100vh;
  width: 200px;
  top: 0;
  right: -200px;
  text-align: left;
  z-index: 2;
  transition: 1s;
}
.navbar ul {
  padding-left: 30px;
  padding-top: 10px;
}

/* ---------- Course ----------- */
.row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#course {
  margin: 8%;
}

/* ------------- Testimonial ------------- */
.testimonial-col {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.testimonial-col p {
  text-align: justify;
}
.testimonial-col h3 {
  text-align: center;
}
.testimonial-col .star {
  margin-left: 60px;
}
.testimonial-col img {
  margin-bottom: 20px;
  margin-left: 25px;
}

/* ------------- Call To Action ------------- */
.cta h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

/* ---------- Blog Content ---------------- */
.sub-header #certificate {
  font-size: 24px;
}
.left-col p {
  font-size: 15px;
}
.blog-content {
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}
.blog-content h2 {
  font-size: 21px;
}
.right-col {
  width: 100%;
}
/* ---------- Contact Section ------------ */
.contact-col button {
  margin-top: 0px;
}
/*--------------Font Awesome--------------*/
nav .fa {
  display: block;
  cursor: pointer;
  color: white;
  margin: 10px;
  font-size: 20px;
}
nav .fa .fa-bars {
  position: sticky;
}

/*---------------Utility Class------------------*/
.h-primary {
  font-size: 2rem;
  color: white;
}
.p-primary {
  font-size: 9px;
  color: white;
}

/* -------- About Section --------------- */
.about-us .about-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .about-col a {
  margin-top: 0px;
}
